@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/fa-Iran-sans-web-bold.woff2) format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/fa-Iran-sans-web-light.woff2) format('woff2');
}
