@import url(../fonts/fa-Iran-sans-web-light.woff2);

/* css variables */
:root {
  --text-xs: 0.725rem;
  --text-sm: 0.875rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.375rem;
  --text-2xl: 2.25rem;
  --background-primary: #f2f5f8;
}

html {
  font-size: 100%;
  font-family: IRANSansX;
  color: #333;
}

button {
  font-family: inherit !important;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

/* shared styles */
.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.375rem;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
}

.button-green {
  background-color: rgb(0, 209, 112);
  color: white;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  /* padding-right: 12%;
  padding-left: 12%; */
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1400) {
  .container {
    max-width: 1440px;
  }
}
/* @media (min-width: 1600) {
  .container {
    max-width: 1640px;
  }
} */

.navbar {
  height: 5.5rem;
  background-color: white;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); */
  position: fixed;
  width: 100%;
  z-index: 1200;
  top: 0;
}

.navbar__links {
  display: flex;
}

.navbar__section {
  height: 100%;
  display: flex;
  align-items: center;
}

/* .navbar__links li {
  margin-right: 2.2rem;
  font-weight: 200;
} */

/* Hero section */

.hero-section {
  display: flex;
  margin-top: 5.5rem;
}

.hero-section__intro {
  background-color: #21aa58;
  color: white;
  width: 50%;
  padding: 2rem;
  padding-right: 15% !important;
}

.hero-section__pic {
  background-image: url(../images/intro_desktop.jpg);
  min-height: 45vh;
  /* min-height: 60vh; */
  width: 50%;
  background-position: center center;
  background-size: cover;
  transform: scaleX(-1);
  flex: 0 0 50%;
}

.hero-section__intro_tagline {
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}

.hero-section__intro_description {
  font-size: var(--text-lg);
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.hero-section__intro_sendlink {
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.hero-section__intro_sendlink > button {
  border: none;
  border-radius: 0.375rem;
  color: #21aa58;
  font-family: inherit !important;
  padding: 0 1rem;
  flex: 0 0 24%;
  height: 2.5rem;
  margin-right: 1rem;
}

.hero-section_sendlink_input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  flex: 0 0 50%;
}

.hero-section_sendlink_input .input__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999999px;
  background-color: white;
  margin-left: 0.5rem;
}

.hero-section_sendlink_input input {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  line-height: 3rem;
  padding: 0 0.5rem;
  height: 2.5rem;
  width: 100%;
}

.hero-section_sendlink_input input::placeholder {
  color: white;
}

.hero-section__intro_gotowebapp {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: var(--text-md);
  cursor: pointer;
  border-radius: 0.325rem;
  height: 3rem;
  padding: 0 2.5rem;
}

.hero-section__intro_gotowebapp:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* snapp-apps-links */

.snapp-apps-links {
  min-height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  content-visibility: auto;
  padding: 0 5rem;
}

/* intro of snapp apps */

.intro-of-snapp-apps {
  background-color: var(--background-primary);
  /* padding: 10rem 0rem; */
  padding-bottom: 3rem;
}

.intro-of-snapp-apps_title {
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 3.25rem;
  padding: 2.5rem 0rem;
  color: #333;
  text-align: center;
}

.into-of-snapp-apps_item {
  background-color: white;
  border-radius: 1.125rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.intro-of-snapp-apps_item_info {
  margin-right: 0.5rem;
  padding: 1.125rem 0rem;
}

.intro-of-snapp-apps_item_info h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.intro-of-snapp-apps_item_info p {
  font-size: var(--text-sm);
  color: rgba(0, 0, 0, 0.6);
}

.intro-of-snapp-apps_items > a {
  text-decoration: none;
  color: inherit;
}

.intro-of-snapp-apps_items {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 7rem;
}

/* supper app snapp */

.snapp-for-all-need {
  display: flex;
  /* padding-bottom: 15rem; */
  min-height: 700px;
}

.snapp-for-all-need__pic {
  background-image: url(../images/super-app.jpg);
  height: 50vh;
  width: 50%;
  background-position: center center;
  background-size: cover;
  flex: 0 0 50%;
}

.snapp-for-all-need__intro {
  width: 50%;
  padding: 2rem;
  padding-left: 15% !important;
  color: #333;
}

.snapp-for-all-need__intro h2 {
  font-size: var(--text-xl);
  font-weight: bold;
  margin: 1rem 0;
}

.snapp-for-all-need__intro p {
  font-size: var(--text-sm);
  margin: 0.5rem 0rem;
  font-weight: 300;
  position: relative;
}

/* snapp benefits */

.snapp-benefits {
  display: flex;
  justify-content: center;
  position: relative;
}

.snapp-apps-benefits_container {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.snapp-benefits__item {
  width: 334px;
  margin: 0 2rem;
}

.snapp-benefits__item_cover {
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.125rem;
}

.snapp-benefits-items {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  gap: 4rem;
  padding: 0 17rem;
}

.snapp-benefits__item_title {
  font-size: 1.0675rem;
  font-weight: bold;
  color: #333;
  margin: 1rem 0rem;
}

.snapp-benefits__item_description {
  font-size: var(--text-xs);
  font-weight: 300;
}

/* dropdown menu */

.navbar__links > li {
  position: relative;
  margin-right: 2.2rem;
  font-weight: 200;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar__links > li > a {
  text-decoration: none;
  color: #333;
}

.navbar__links .navbar__links_menu_item > a {
  text-decoration: none;
  color: #333;
}

.navbar__links > li a:hover {
  color: #00d170;
  font-weight: 500;
}

.navbar__links > li:hover .navbar__links_menu {
  display: block;
  cursor: pointer;
}

.navbar__links .navbar__links_menu {
  z-index: 50;
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  border-radius: 0.75rem;
  top: 2rem;
  right: -2rem;
  display: none;
}

.navbar__links .navbar__links_menu_item {
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  font-weight: 300;
}

.navbar__links .dropdwon_menu_icon {
  transform: rotate(90deg);
  width: 1rem;
  height: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.navbar__links_has_dropdown {
  display: flex;
}

.navbar__links_has_dropdown span {
  padding-left: 0.5rem;
}

/* driver registrtion */

.driver-registration {
  background-color: var(--background-primary);
  padding: 4rem;
}

.driver-registration__title {
  font-size: var(--text-2xl);
  font-weight: bold;
  text-align: center;
}

.driver-registration__title_description {
  padding: 1rem 0rem;
  text-align: center;
  font-size: var(--text-lg);
  font-weight: 300;
}

.driver-registration__title_description__btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}

.driver-registration__video {
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2.5rem 0rem;
}

.driver-registration__video video {
  width: 100%;
  height: 100%;
}

.driver-registration__benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2.5rem 0rem;
}

.driver-registration__benefits_item {
  background-color: white;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.driver-registration__benefits_item .benefit-item-info h4 {
  font-weight: bold;
  padding: 1rem 0rem;
}

.driver-registration__benefits_item .benefit-item-info p {
  font-size: var(--text-sm);
}

/* footer */

.footer {
  padding: 3rem 0;
}

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links li {
  margin-left: 1rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.footer__socials a {
  margin-left: 0.5rem;
}

.footer__etemad {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* slider */

.snapp-slider__section {
  margin: 5rem 0;
}

.snapp-slider__wrapper {
  padding: 0 7rem;
  position: relative;
}

#snapp__slider {
  border-radius: 1rem;
}

#snapp__slider .keen-slider__slide {
  height: 25rem;
  width: 100%;
}

#snapp__slider .keen-slider__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.keen-dots-wrapper {
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

.keen-dots-wrapper .keen-dots {
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.keen-dots-wrapper .keen-dots .dot {
  padding: 0.3rem;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.keen-dots-wrapper .keen-dots .dot.active {
  background-color: white;
}