@import url(../fonts/fa-Iran-sans-web-light.woff2);

html {
  font-size: 100%;
  font-family: IRANSansX;
}

button {
  font-family: inherit !important;
}

p {
  line-height: 1.7;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-right: 12%;
  padding-left: 12%;
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1400) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1600) {
  .container {
    max-width: 1640px;
  }
}

.navbar {
  height: 5.5rem;
  background-color: white;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); */
}

.navbar__links {
  display: flex;
}

.navbar__section {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__links li {
  margin-right: 2.2rem;
  font-weight: 200;
}

/* Hero section */

.hero-section {
  display: flex;
}

.hero-section__intro {
  background-color: #21aa58;
  color: white;
  width: 50%;
  padding: 2rem;
  padding-right: 15% !important;
}

.hero-section__pic {
  background-image: url(../images/intro_desktop.jpg);
  min-height: 45vh;
  /* min-height: 60vh; */
  width: 50%;
  background-position: center center;
  background-size: cover;
  transform: scaleX(-1);
  flex: 0 0 50%;
}

.hero-section__intro_tagline {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}

.hero-section__intro_description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.hero-section__intro_sendlink {
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.hero-section__intro_sendlink > button {
  border: none;
  border-radius: 0.375rem;
  color: #21aa58;
  font-family: inherit !important;
  padding: 0 1rem;
  flex: 0 0 24%;
  height: 2.5rem;
  margin-right: 1rem;
}

.hero-section_sendlink_input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  flex: 0 0 50%;
}

.hero-section_sendlink_input .input__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999999px;
  background-color: white;
  margin-left: 0.5rem;
}

.hero-section_sendlink_input input {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  line-height: 3rem;
  padding: 0 0.5rem;
  height: 2.5rem;
  width: 100%;
}

.hero-section_sendlink_input input::placeholder {
  color: white;
}

.hero-section__intro_gotowebapp {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.325rem;
  height: 3rem;
  padding: 0 2.5rem;
}

.hero-section__intro_gotowebapp:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* snapp-apps-links */

.snapp-apps-links {
  min-height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  content-visibility: auto;
  padding: 0 5rem;
}

/* intro of snapp apps */

.intro-of-snapp-apps {
  background-color: #f2f5f8;
  /* padding: 10rem 0rem; */
  padding-bottom: 3rem;
}

.intro-of-snapp-apps_title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  padding: 2.5rem 0rem;
  color: #333;
  text-align: center;
}

.into-of-snapp-apps_item {
  background-color: white;
  border-radius: 1.125rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.intro-of-snapp-apps_item_info {
  margin-right: 0.5rem;
  padding: 1.125rem 0rem;
}

.intro-of-snapp-apps_item_info h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.intro-of-snapp-apps_item_info p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.intro-of-snapp-apps_items > a {
  text-decoration: none;
  color: inherit;
}

.intro-of-snapp-apps_items {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 7rem;
}

/* supper app snapp */

.snapp-for-all-need {
  display: flex;
}

.snapp-for-all-need__pic {
  background-image: url(../images/super-app.jpg);
  min-height: 50vh;
  /* min-height: 60vh; */
  width: 50%;
  background-position: center center;
  background-size: cover;
  flex: 0 0 50%;
}

.snapp-for-all-need__intro {
  width: 50%;
  padding: 2rem;
  padding-left: 15% !important;
  color: #333;
}

.snapp-for-all-need__intro h2 {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 1rem 0;
}

.snapp-for-all-need__intro p {
  font-size: 0.875rem;
  margin: 0.5rem 0rem;
  font-weight: 300;
}

/* snapp benefits */

.snapp-benefits {
  position: relative;
}

.snapp-apps-benefits_container {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  display: flex;
  justify-content: center;
  position: absolute;
  top: -60px;
}

.snapp-benefits__item {
  width: 334px;
  margin: 0 2rem;
}

.snapp-benefits__item_cover {
  background-color: #f2f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.125rem;
}

.snapp-benefits-items {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  gap: 4rem;
  padding: 0 17rem;
}

.snapp-benefits__item_title {
  font-size: 1.0675rem;
  font-weight: bold;
  color: #333;
  margin: 1rem 0rem;
}

.snapp-benefits__item_description {
  font-size: 0.693125rem;
  color: #333;
}
